body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden; /* Hide any overflow */
    padding: 20px; /* Adjust padding as needed */
}

img {
    max-width: calc(100% - 40px); /* Subtract padding from the maximum width */
    max-height: calc(100% - 40px); /* Subtract padding from the maximum height */
    width: auto;
    height: auto;
    object-fit: contain; /* Prevent stretching by containing the image within its dimensions */
}
